@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151515;
  --primary: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.triple-circle::before,
.triple-circle::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 2px solid rgba(245, 158, 11, 0.3);
}
.triple-circle::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.triple-circle::after {
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
}
